<mat-card fxLayout="column">
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between start">
    <span class="title">{{ 'STRANGENESS.HISTOGRAMS.TITLE' | translate }}</span>
    <span
      [matTooltipDisabled]="apiService.isAuthenticated"
      [matTooltip]="'PASSWORD.NO_TOKEN_TOOLTIP' | translate" matTooltipPosition="before" 
    >
      <button
        [disabled]="!apiService.isAuthenticated || uploadDisabled"
        mat-icon-button aria-label="Upload" (click)="onUploadButtonClicked()"
      >
        <ng-container *ngIf="apiService.isAuthenticated; then thenBlock else elseBlock"></ng-container>
        <ng-template #thenBlock><mat-icon class="material-icons-outlined">cloud_upload</mat-icon></ng-template>
        <ng-template #elseBlock><mat-icon>cloud_off</mat-icon></ng-template>
      </button>
    </span>
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
      <app-histogram fxFlex="grow" [data]="kaonMasses" [xDomain]="[0.4, 0.6]" [bins]="40" barColor="#3F51B5">
        <svg:text xAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.INVARIANT_MASS' | translate }} (GeV/<svg:tspan class="em">c</svg:tspan>²)</svg:text>
        <svg:text yAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.COUNTS' | translate }}</svg:text>
        <span title class="particle hist-title">K<span class="supsub"><sup>0</sup><sub>S</sub></span></span>
      </app-histogram>
      <app-histogram fxFlex="grow" [data]="lambdaMasses" [xDomain]="[1.0, 1.4]" [bins]="40" barColor="#3F51B5">
        <svg:text xAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.INVARIANT_MASS' | translate }} (GeV/<svg:tspan class="em">c</svg:tspan>²)</svg:text>
        <svg:text yAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.COUNTS' | translate }}</svg:text>
        <span title class="particle hist-title">Λ</span>
      </app-histogram>
      <app-histogram fxFlex="grow" [data]="antiLambdaMasses" [xDomain]="[1.0, 1.4]" [bins]="40" barColor="#3F51B5">
        <svg:text xAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.INVARIANT_MASS' | translate }} (GeV/<svg:tspan class="em">c</svg:tspan>²)</svg:text>
        <svg:text yAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.COUNTS' | translate }}</svg:text>
        <span title class="particle hist-title">Λ&#773;</span>
      </app-histogram>
      <app-histogram fxFlex="grow" [data]="xiMasses" [xDomain]="[1.0, 1.4]" [bins]="40" barColor="#3F51B5">
        <svg:text xAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.INVARIANT_MASS' | translate }} (GeV/<svg:tspan class="em">c</svg:tspan>²)</svg:text>
        <svg:text yAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.COUNTS' | translate }}</svg:text>
        <span title class="particle hist-title">Ξ</span>
      </app-histogram>
    </div>
  </mat-card-content>
</mat-card>
