mat-card {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

mat-card-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

mat-drawer-container {
  background-color: inherit;
  width: 100%;
  height: 100%;
}

mat-card-title {
  line-height: 40px;
}

.sidenav {
  width: 200px;
}

#content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

mat-drawer-content {
  position: relative;

  & > div {
    width: 100%;
    height: 100%;
  }
}

#spinner {
  position: absolute;
  z-index: 1;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.options > * {
  padding: 0 16px;
}

#render-area {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  max-height: 100%;

  canvas {
    display: block;
  }

  #view0 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    pointer-events: none;

    &.landscape {
      width: calc(100% * var(--primary-axis-ratio));
    }

    &.noside {
      width: 100%;
    }
  }
  
  #view1, #scales1 {
    position: absolute;
    left: 0;
    top: calc(100% * var(--primary-axis-ratio));
    width: calc(100% * var(--secondary-axis-ratio));
    text-align: center;
    pointer-events: none;

    &.landscape {
      left: calc(100% * var(--primary-axis-ratio));
      top: 0;
      width: calc(100% * (1 - var(--primary-axis-ratio)));
    }
  }
  
  #view2, #scales2 {
    position: absolute;
    right: 0;
    top: calc(100% * var(--primary-axis-ratio));
    width: calc(100% * var(--secondary-axis-ratio));
    text-align: center;
    pointer-events: none;

    &.landscape {
      left: calc(100% * var(--primary-axis-ratio));
      top: calc(100% * var(--secondary-axis-ratio));
      width: calc(100% * (1 - var(--primary-axis-ratio)));
    }
  }

  #scales1, #scales2 {
    height: calc(100% * (1 - var(--primary-axis-ratio)));

    &.landscape {
      height: calc(100% * (1 - var(--secondary-axis-ratio)));
    }
  }
}

svg {
  width: 100%;
  height: 100%;
}