<div fxFlex="grow">
  <div class="container" fxFlex="grow" fxLayoutGap="10px" fxLayout="column">
    <app-event-display
      [sideViewsShown]="true"
      [decaysShown]="false"

      [hasClusters]="event.clusters.length !== 0"
      [landscape]="(isLandscape$ | async)"
      [detectorModel]="ALICE_DETECTOR_MODEL"
      [detectorRphi]="ALICE_DETECTOR_RPHI"
      [detectorRhoz]="ALICE_DETECTOR_RHOZ"
      [event]="event"
      [previousEventButtonDisabled]="(eventID - 1) < 0"
      (previousEvent)="onPreviousEvent()"
      [nextEventButtonDisabled]="(eventID + 1) >= maxEvents"
      (nextEvent)="onNextEvent()"
      (trackClickedEvent)="onTrackClicked($event)"
    >
      <span>{{ 'EVENT_DISPLAY.EVENT' | translate }} {{ eventID }}</span>
      <mat-icon *ngIf="isCurrentEventDone" id="done">done</mat-icon>
    </app-event-display>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
      <app-calculator fxFlex="grow"
        [particlePos]="particlePos"
        [particleNeg]="particleNeg"
        [particleBac]="particleBac"
        (addToHistogramEvent)="onAddToHistogram($event)"
      ></app-calculator>
      <app-particle-mass fxFlex="grow"></app-particle-mass>
    </div>
    <app-mass-histograms [uploadDisabled]="uploadDisabledDatasets.includes(datasetID)" [results]="dataService.visualAnalysisResults" (uploadResultsEvent)="onUploadResults()"></app-mass-histograms>
  </div>
</div>
