<h1>{{ 'STRANGENESS.INSTRUCTIONS_LARGE_SCALE_ANALYSIS.TITLE' | translate }}</h1>

<h2>{{ 'STRANGENESS.INSTRUCTIONS_LARGE_SCALE_ANALYSIS.SUBTITLE' | translate }}</h2>

<p [innerHtml]="'STRANGENESS.INSTRUCTIONS_LARGE_SCALE_ANALYSIS.P1' | translate"></p>

<p [innerHtml]="'STRANGENESS.INSTRUCTIONS_LARGE_SCALE_ANALYSIS.P2' | translate"></p>

<p [innerHtml]="'STRANGENESS.INSTRUCTIONS_LARGE_SCALE_ANALYSIS.P3' | translate"></p>
