<mat-card fxFill fxLayout="column">
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between start">
    <span class="title">{{ 'STRANGENESS.CALCULATOR.TITLE' | translate }}</span>
    <button *ngIf="false" mat-icon-button aria-label="Instructions button">
      <mat-icon>help_outline</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content fxFlex="grow">
    <div fxFill fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="20px">
      <table mat-table [dataSource]="tableRows" class="mat-elevation-z2" fxFlex="2 1 auto">
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> {{ 'STRANGENESS.CALCULATOR.CHARGE' | translate }} </th>
          <td mat-cell *matCellDef="let element"><span [style.color]="element.color"><strong> {{ element.type }} </strong></span></td>
          <td mat-footer-cell *matFooterCellDef> {{ 'STRANGENESS.CALCULATOR.TOTAL' | translate }} </td>
        </ng-container>

        <ng-container matColumnDef="px">
          <th mat-header-cell *matHeaderCellDef> <em>p</em><sub>x</sub> (GeV/<em>c</em>) </th>
          <td mat-cell *matCellDef="let element"> <span *ngIf="element.track">{{ element.track.px | number: '1.3-3' }}</span> </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="py">
          <th mat-header-cell *matHeaderCellDef> <em>p</em><sub>y</sub> (GeV/<em>c</em>) </th>
          <td mat-cell *matCellDef="let element"> <span *ngIf="element.track">{{ element.track.py | number: '1.3-3' }}</span> </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="pz">
          <th mat-header-cell *matHeaderCellDef> <em>p</em><sub>z</sub> (GeV/<em>c</em>) </th>
          <td mat-cell *matCellDef="let element"> <span *ngIf="element.track">{{ element.track.pz | number: '1.3-3' }}</span> </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="mass">
          <th mat-header-cell *matHeaderCellDef> {{ 'STRANGENESS.CALCULATOR.MASS' | translate }} (GeV/<em>c</em><SUP>2</SUP>) </th>
          <td mat-cell *matCellDef="let element"> <span *ngIf="element.track">{{ element.track.mass | number: '1.3-3' }}</span> </td>
          <td mat-footer-cell *matFooterCellDef> {{ totalMass | number: '1.3-3' }} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
      <mat-divider [vertical]="true" fxHide.xs="true" fxHide.sm="true"></mat-divider>
      <form [formGroup]="calculatorForm" (ngSubmit)="onSubmit()" 
        fxFlex="1 1 auto" fxLayout="column" fxLayout.xs="row" fxLayout.sm="row" 
        fxLayoutGap="20px" fxLayoutAlign="start stretch" fxLayoutAlign.xs="end center" fxLayoutAlign.sm="end center">
        <mat-form-field appearance="standard">
          <mat-label>{{ 'STRANGENESS.CALCULATOR.SELECT_PARTICLE' | translate }}</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of particleTypes;" [value]="type">{{ 'STRANGENESS.CALCULATOR.' + type | uppercase | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
        <input type="hidden" formControlName="mass"/>
        <button [disabled]="calculatorForm.invalid || submitDisabled" mat-raised-button type="submit" color="primary">{{ 'STRANGENESS.CALCULATOR.ADD' | translate }}</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
