<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport role="dialog">
    <div fxFill fxLayout="column">
      <mat-toolbar>{{ 'GENERAL.MENU' | translate }}</mat-toolbar>
      <mat-nav-list fxFlex="grow" fxLayout="column">
        <a mat-list-item routerLink="/home">{{ 'HOME.HOME_MENU' | translate }}</a>
        <h1 matSubheader>{{ 'STRANGENESS.TITLE' | translate }}</h1>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/strangeness-visual-analysis">{{ 'STRANGENESS.VISUAL_ANALYSIS_MENU' | translate }}</a>
        <a mat-list-item routerLink="/strangeness-large-scale-analysis">{{ 'STRANGENESS.LARGE_SCALE_ANALYSIS_MENU' | translate }}</a>
        <div fxFlex="grow"></div>
        <a mat-list-item (click)="onPasswordButtonClicked()">{{ 'PASSWORD.PASSWORD_MENU' | translate }}</a>
        <!-- <a mat-list-item routerLink="/about">{{ 'ABOUT.ABOUT_MENU' | translate }}</a> -->
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="column">
      <div class="sticky">
        <app-cern-toolbar *ngIf="!electronService.isElectron"></app-cern-toolbar>
        <mat-toolbar color="primary">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>{{ 'GENERAL.ALICE_MASTERCLASS' | translate }}</span>
          <span id="buttons">
            <button *ngIf="instructionsComponent" mat-icon-button aria-label="Instructions button" (click)="onInstructionsButtonClicked()">
              <mat-icon>help_outline</mat-icon>
            </button>
            <button
              aria-label="Change language"
              mat-button
              [matMenuTriggerFor]="langMenu">
              <mat-icon aria-label="Change language icon" inline="true">language</mat-icon>
              <span>{{ translate.currentLang | uppercase }}</span>
            </button>
            <mat-menu #langMenu>
              <button mat-menu-item 
                *ngFor="let lang of languages"
                (click)="onLangButtonClicked(lang)">
                  {{ 'LANGUAGES.' + lang | translate }}
              </button>
            </mat-menu>
          </span>
        </mat-toolbar>
      </div>
      <router-outlet (activate)="onRouterActivate($event)"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
