<mat-dialog-content>
	<p [innerHtml]="'PASSWORD.P1' | translate"></p>
	<p [innerHtml]="'PASSWORD.P2' | translate"></p>
	<p [innerHtml]="'PASSWORD.P3' | translate"></p>
	<form [formGroup]="tokenForm">
		<div>
			<mat-form-field appearance="standard">
				<mat-label>{{ 'PASSWORD.STUDENT_NUMBER' | translate }}</mat-label>
				<input matInput type="number" [formControl]="tokenForm.controls.id" required>
			</mat-form-field>
		</div>
		<div>
			<mat-form-field appearance="standard" fxFlex="60">
				<mat-label>{{ 'PASSWORD.SESSION_PASSWORD' | translate }}</mat-label>
				<input matInput [type]="hide ? 'password' : 'text'" [formControl]="tokenForm.controls.password" required>
				<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
					<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
				<mat-error>{{ 'PASSWORD.ERROR' | translate }}</mat-error>
			</mat-form-field>
		</div>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="center">
	<app-spinner-container [loading]="loading">
		<button mat-raised-button color="primary" [disabled]="loading || tokenForm.invalid" (click)="onProceedClick()">{{ 'PASSWORD.BUTTON_PROCEED' | translate }}</button>
	</app-spinner-container>
	<button mat-raised-button mat-dialog-close tabindex="-1">{{ 'PASSWORD.BUTTON_CANCEL' | translate }}</button>
</mat-dialog-actions>