<mat-card>
  <mat-card-title class="title">{{ 'STRANGENESS.PARTICLE_MASS.TITLE' | translate }}</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>{{ 'STRANGENESS.PARTICLE_MASS.TYPE' | translate }}</th>
        <td mat-cell *matCellDef="let element"> <span [innerHtml]="element.type" class="type particle"></span></td>
      </ng-container>

      <ng-container matColumnDef="mass">
        <th mat-header-cell *matHeaderCellDef>{{ 'STRANGENESS.PARTICLE_MASS.MASS' | translate }} (GeV/<em>c</em><SUP>2</SUP>)</th>
        <td mat-cell *matCellDef="let element">{{ element.mass }}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>