<mat-card fxFill fxLayout="column">
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between start">
    <span class="title">{{ 'STRANGENESS.RESULTS.TITLE' | translate }}</span>
    <span
      [matTooltipDisabled]="apiService.isAuthenticated"
      [matTooltip]="'PASSWORD.NO_TOKEN_TOOLTIP' | translate" matTooltipPosition="before" 
    >
      <button
        [disabled]="!apiService.isAuthenticated"
        mat-icon-button aria-label="Upload" (click)="onUploadButtonClicked()"
      >
        <ng-container *ngIf="apiService.isAuthenticated; then thenBlock else elseBlock"></ng-container>
        <ng-template #thenBlock><mat-icon class="material-icons-outlined">cloud_upload</mat-icon></ng-template>
        <ng-template #elseBlock><mat-icon>cloud_off</mat-icon></ng-template>
      </button>
    </span>
  </mat-card-title>
  <mat-card-content fxFlex="grow">
    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="tableRows">

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> {{ 'STRANGENESS.RESULTS.TYPE' | translate }} </th>
          <td mat-cell *matCellDef="let element;">{{ 'STRANGENESS.HISTOGRAM_SELECTOR.' + element.particle | uppercase | translate }}</td>
        </ng-container>

        <ng-container matColumnDef="collision">
          <th mat-header-cell *matHeaderCellDef> {{ 'STRANGENESS.RESULTS.COLLISION' | translate }} </th>
          <td mat-cell *matCellDef="let element;">{{ 'STRANGENESS.HISTOGRAM_SELECTOR.' + element.collision | uppercase | translate }}</td>
        </ng-container>

        <ng-container matColumnDef="centrality">
          <th mat-header-cell *matHeaderCellDef> {{ 'STRANGENESS.RESULTS.CENTRALITY' | translate }} </th>
          <td mat-cell *matCellDef="let element;"><span *ngIf="element.centrality">{{ 'STRANGENESS.HISTOGRAM_SELECTOR.' + element.centrality | translate }}</span></td>
        </ng-container>

        <ng-container matColumnDef="signal">
          <th mat-header-cell *matHeaderCellDef> {{ 'STRANGENESS.RESULTS.SIGNAL' | translate }} </th>
          <td mat-cell *matCellDef="let element;">{{ element.signal }}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </div>    
  </mat-card-content>
</mat-card>