<mat-card>
  <mat-card-title class="title">{{ 'STRANGENESS.HISTOGRAM_SELECTOR.TITLE' | translate }}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="histogramSelectorForm" (ngSubmit)="onSubmit()"
      fxLayout="row" fxLayout.xs="column"
      fxLayoutAlign="start center" fxLayoutAlign.xs="center stretch"
      fxLayoutGap="10px"
    >
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start stretch" fxLayoutGap="10px">
        <mat-form-field appearance="standard">
          <mat-label>{{ 'STRANGENESS.HISTOGRAM_SELECTOR.SELECT_PARTICLE' | translate }}</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of particileTypes;" [value]="type"> {{ 'STRANGENESS.HISTOGRAM_SELECTOR.' + type | uppercase | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>{{ 'STRANGENESS.HISTOGRAM_SELECTOR.SELECT_COLLISION' | translate }}</mat-label>
          <mat-select formControlName="collisionCentrality">
            <mat-option *ngFor="let option of collisionCentralityOptions; let i = index;" [value]="i">{{ 'STRANGENESS.HISTOGRAM_SELECTOR.' + option.collision | uppercase | translate }} <span *ngIf="option.centrality">{{ 'STRANGENESS.HISTOGRAM_SELECTOR.' + option.centrality | translate }}</span></mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button [disabled]="histogramSelectorForm.invalid" mat-raised-button type="submit" color="primary">{{ 'STRANGENESS.HISTOGRAM_SELECTOR.OPEN_HISTOGRAM' | translate }}</button>
    </form>
  </mat-card-content>
</mat-card>