<h1>{{ 'STRANGENESS.INSTRUCTIONS_VISUAL_ANALYSIS.TITLE' | translate }}</h1>

<h2>{{ 'STRANGENESS.INSTRUCTIONS_VISUAL_ANALYSIS.SUBTITLE' | translate }}</h2>

<p [innerHtml]="'STRANGENESS.INSTRUCTIONS_VISUAL_ANALYSIS.P1' | translate"></p>

<div class="figure" 
  fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
  fxLayoutAlign="space-around end" fxLayoutAlign.xs="space-around center" fxLayoutAlign.sm="space-around center" 
  fxLayoutGap="12px"
>
  <div>
    <img src="/assets/exercises/strangeness/part1_instructions/kaon.png"/>
    <div class="decay-equation particle">K<span class="supsub"><sup>0</sup><sub>S</sub></span> → π<sup>−</sup> + π<sup>+</sup></div>
  </div>
  <div>
    <img src="/assets/exercises/strangeness/part1_instructions/lambda.png"/>
    <div class="decay-equation particle">Λ → p + π<sup>−</sup></div>
  </div>
  <div>
    <img src="/assets/exercises/strangeness/part1_instructions/antilambda.png"/>
    <div class="decay-equation particle">Λ&#773; → p&#773; + π<sup>+</sup></div>
  </div>
  <div>
    <img src="/assets/exercises/strangeness/part1_instructions/xi.png"/>
    <div class="decay-equation particle">Ξ&#773; → π<sup>−</sup> + Λ ( → p + π<sup>−</sup>)</div>
  </div>
</div>

<p [innerHtml]="'STRANGENESS.INSTRUCTIONS_VISUAL_ANALYSIS.P2' | translate"></p>

<p [innerHtml]="'STRANGENESS.INSTRUCTIONS_VISUAL_ANALYSIS.P3' | translate"></p>

<p [innerHtml]="'STRANGENESS.INSTRUCTIONS_VISUAL_ANALYSIS.P4' | translate"></p>
