<mat-dialog-content>
  <p> {{ 'SELECT_DATASET_DIALOG.TEXT' | translate }} </p>
	<form [formGroup]="datasetForm">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'SELECT_DATASET_DIALOG.DATASET' | translate }}</mat-label>
      <mat-select formControlName="dataset">
        <mat-option *ngIf="data.hasDemo" [value]="demoValue">{{ 'SELECT_DATASET_DIALOG.DEMO' | translate }}</mat-option>
        <mat-option *ngFor="let dataset of data.dataset;" [value]="dataset">
          <span [translate]="'SELECT_DATASET_DIALOG.DATASET_VAL'" [translateParams]="{dataset: dataset - 1}"></span>
        </mat-option>
        <mat-option *ngIf="data.hasFull" [value]="fullEventValue">{{ 'SELECT_DATASET_DIALOG.FULL_EVENT' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <app-spinner-container [loading]="loading">
		<button mat-raised-button color="primary" [disabled]="loading || datasetForm.invalid" (click)="onProceedClick()"> {{ 'SELECT_DATASET_DIALOG.BUTTON_PROCEED' | translate }}</button>
	</app-spinner-container>
</mat-dialog-actions>