<mat-card fxFill fxLayout="column">
  <mat-card-title class="title">{{ 'STRANGENESS.HISTOGRAM_DISPLAY.TITLE' | translate }}</mat-card-title>
  <mat-card-content fxFlex="grow" fxLayout="column">
    <div id="anchor" fxFlex="grow">
      <div *ngIf="loading" id="spinner" fxLayout="column" fxLayoutAlign="center center"><mat-spinner></mat-spinner></div>
      <div id="content" fxLayout="row" fxLayoutAlign="center stretch" fxLayout.xs="column">
        <app-fit-histogram fxFlex="grow" [class.disabled]="loading"
          [xDomain]="[fitService.data.xmin, fitService.data.xmax]" [bins]="fitService.data.bins"
          [data]="fitService.data.data" [enableZoom]="true"
          signalColor="#FF4081" backgroundColor="#3F51B5" barColor="#A3A3A3"
          [backgroundShown]="fitService.result !== null"
          [signalShown]="fitService.result !== null"
          [backgroundRange]="fitService.backgroundFitRange"
          [signalRange]="fitService.signalFitRange"
          [backgroundFunction]="fitService.backgroundFunction"
          [signalFunction]="fitService.signalFunction"
          (zoomEvent)="onZoom($event)"
        >
          <svg:text xAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.INVARIANT_MASS' | translate }} (GeV/<svg:tspan class="em">c</svg:tspan>²)</svg:text>
          <svg:text yAxisLabel>{{ 'STRANGENESS.HISTOGRAMS.COUNTS' | translate }}</svg:text>
        </app-fit-histogram>
        <div id="info" *ngIf="fitService.result !== null" fxLayout="column">
          <div fxLayout="column" fxLayout.xs="row" fxLayoutAlign.xs="space-around center">
            <p>{{ 'STRANGENESS.HISTOGRAMS.TOTAL' | translate }}: {{ fitService.result.total }}</p>
            <p>{{ 'STRANGENESS.HISTOGRAMS.SIGNAL' | translate }}: {{ fitService.result.signal }} ± {{ fitService.result.signalError }}</p>
            <p>{{ 'STRANGENESS.HISTOGRAMS.BACKGROUND' | translate }}: {{ fitService.result.background }}</p>
          </div>
          <div fxLayout="column" fxLayout.xs="row" fxLayoutAlign.xs="space-around center">
            <p>μ : {{ fitService.result.p1Gauss[1] | number : '1.4-4' }}</p>
            <p>σ : {{ fitService.result.p1Gauss[2] | number : '1.4-4' }}</p>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>