.title {
  line-height: 40px;
}

app-fit-histogram {
  height: 40vh;
  width: 100%;
}

#anchor {
  position: relative;
  width: 100%;
  height: 100%;
}

#info {
  min-width: max-content;
  text-align: end;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

#spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
