.title {
  line-height: 40px;
}

$accent: #ff4081;
$background: #b9b9b9;
$background-focus: #9b9b9b;

:host ::ng-deep .ngx-slider {
  .ngx-slider-bar {
    background: $background;
    height: 2px;
  }

  &:focus-within .ngx-slider-full-bar > .ngx-slider-bar {
    background: $background-focus;
  }
  
  .ngx-slider-selection-bar > .ngx-slider-bar  {
    background: $accent;
  }

  &.animate .ngx-slider-pointer {
    transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  &.animate .ngx-slider-bar {
    transition: background-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .ngx-slider-pointer {
    width: 14px;
    height: 14px;
    top: -7px;

    background-color: $accent;

    &:focus {
      outline: 0 !important;
    }
  }

  &:focus-within {
    .ngx-slider-pointer {
      transform: scale(1.5);
      transform-origin: center;
    }
  }

  .ngx-slider-pointer.ngx-slider-active::after {
    background: white;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
  }
}
