<mat-dialog-content class="mat-typography">
  <ng-container *ngComponentOutlet="data.component"></ng-container>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close color="primary">{{ 'INSTRUCTIONS_DIALOG.BUTTON_DISMISS' | translate }}</button>
</mat-dialog-actions>
