/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.supsub {
  display: inline-block;
}

.supsub sup,
.supsub sub {
  position: relative;
  display: block;
  font-size: .5em;
  line-height: 1.2;
}

.supsub sub {
  top: .3em;
}

@font-face {
  font-family: "Gentium Alt";
  src: url("assets/fonts/GenAR102.TTF") format('truetype')
}

.particle {
  font-family: "Gentium Alt";
}

// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './alice-theme.scss';

@import 'material-icons/iconfont/material-icons.css';
