#container {
  position: relative;
}

h1 {
  text-align: center;
}

img {
  object-fit: contain;
  height: 100%;
}

#text {
  margin-left: 10%;
  margin-right: 10%;
}

#flags {
  margin-top: 1%;
  margin-bottom: 2%;
  
  .flags-row {
    a {
      display: block;
      height: 5rem;
    }
  }
}

.disabled-link {
  pointer-events: none;
}

.header-image {
  height: 1em;
}

#download {
  margin-top: 5em;
}

.footer {
  a {
    color: inherit;
    text-decoration: none;
  }

  text-align: center;
  font-size: 0.8rem;
  color: gray;
}

#logo {
  position: absolute;
  width: 8em;
  height: 8em;
  left: 0;
  top: 0;
  img {
    height: 100%;
    width: 100%;
  }

  @media screen and (max-width: 992px) {
    img {
      display: none;
    }
  }

}
