<div id="container">
  <h1 class="header">
    {{ 'HOME.TITLE' | translate }}
  </h1>

  <a href="https://alice.cern" id="logo">
    <img fxFlex="grow" src="assets/home/alice_logo.png">
  </a>

  <div id="text" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div fxFlex="grow">
      <p [innerHtml]="'HOME.P1' | translate"></p>
      <p [innerHtml]="'HOME.P2' | translate"></p>
      <p [innerHtml]="'HOME.P3' | translate"></p>
      <div id="download" *ngIf="!electronService.isElectron">
        <p>{{ 'HOME.DOWNLOAD' | translate }}</p>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <a [href]="appPathWindows" download class="system-icon">
            <mat-icon svgIcon="windows"></mat-icon>
          </a>
          <a [href]="appPathLinux" download class="system-icon" >
            <mat-icon svgIcon="linux"></mat-icon>
          </a>
          <a class="system-icon" [matTooltip]="'HOME.COMING_SOON' | translate" matTooltipPosition="after">
            <mat-icon svgIcon="apple"></mat-icon>
          </a>
        </div>
      </div>
    </div>
    <div fxFlex="grow"><img fxFlex="grow" src="assets/home/alice-detector.png"></div>
  </div>

  <div id="flags" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-around">
    <div class="flags-row" fxFlex="grow" fxLayout="row" fxLayoutAlign="space-around">
      <a href="" class="disabled-link"><img src="assets/home/funds.png"></a>
      <a href="" class="disabled-link"><img src="assets/home/rp.png"></a>
    </div>
    <div class="flags-row" fxFlex="grow" fxLayout="row" fxLayoutAlign="space-around">
      <a href="https://www.pw.edu.pl/"><img src="assets/home/pw.png"></a>
      <a href="" class="disabled-link"><img src="assets/home/eu.png"></a>
    </div>
  </div>

  <div class="footer">
    <div><a href="https://copyright.web.cern.ch/">Copyright</a> © 2022 CERN, Warsaw University of Technology</div>
    <div>Piotr Nowakowski, Łukasz Graczykowski, Małgorzata Janik</div>
  </div>

</div>
